.aboutCont {
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}
.portF {
  width: 80%;
  height: auto;
  margin-top: calc(150px + (119 - 150) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  -webkit-box-shadow: 10px 14px 51px -13px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 14px 51px -13px rgba(0, 0, 0, 0.58);
  box-shadow: 10px 14px 51px -13px rgba(0, 0, 0, 0.58);
}
.aboutCont h1 {
  font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  text-align: left;
  color: rgb(103, 74, 170);
  margin-left: -4vw;
}
.aboutCont h2 {
  margin-top: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.aboutCont h3 {
  text-align: left;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.aboutCont p {
  font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1600 - 300)));
  text-align: justify;
  text-justify: inter-word;
}
.aboutCont ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.aboutCont li {
  padding: 5px;
  margin: 10px;
  color: black;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  display: inline-block;
}
.aboutCont li a {
  text-decoration: none;
  color: black;
}

#aboutC1 {
  margin-top: 6vh;
  width: 100%;
}
#aboutC1 h3 {
  text-align: left;
  margin-left: calc(16px + ((-55) - 16) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
}

#aboutC1 li {
  margin-right: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
  margin-left: auto;
  padding: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
  width: 40%;
}
@media screen and (max-width: 600px) {
  /* body {
    background-image: url('../../assets/mobileBackground.png');
    background-size: cover;
    background-attachment: fixed;
  } */

  .portF {
    width: 92%;
    display: block;
    border-radius: 0%;
    margin-top: 0rem;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
