@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.wholeCont {
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}
.divCont {
  margin-left: 6vw;
  margin-top: 18vh;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.divCont h1 {
  font-size: calc(25px + (65 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  color: rgb(103, 74, 170);
  margin-left: -5vw;
}

.divCont h2 {
  margin-top: calc(100px + (150 - 100) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(16px + (35 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.divCont p {
  font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.9em + (1.5 - 1.9) * ((100vw - 300px) / (1600 - 300)));
}

.divCont button {
  margin-top: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
  padding-top: calc(7px + (10 - 7) * ((100vw - 300px) / (1600 - 300)));
  padding-bottom: calc(7px + (10 - 7) * ((100vw - 300px) / (1600 - 300)));
  padding-left: calc(13px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
  padding-right: calc(13px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 900;
  color: #fff;
  background-color: #c906fa;
  border: 2px solid #c906fa;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
  border-radius: 5%;
  margin-right: 15px;
}
.divCont #btn2 {
  background-color: #492e7c;
  border: 2px solid #492e7c;
}

.divCont button:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: #c906fa;
  border-color: transparent;
  background-color: transparent;
}
.divCont #btn2:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: #492e7c;
  border-color: transparent;
  background-color: transparent;
}

#cards {
  margin-top: calc(25px + (120 - 25) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: calc(100px + (200 - 100) * ((100vw - 300px) / (1600 - 300)));
  /* margin-left: auto;
  margin-right: auto; */
}
#cards p {
  font-size: 17px;
  text-align: center;
}
#cards button {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#cards h2 {
  font-size: 30px;
  text-align: center;
}
#cards a {
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: rgb(29, 112, 112);
}

.cardsCont h1 {
  font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  text-align: left;
  color: rgb(103, 74, 170);
  margin-left: calc(80px + ((-80) - 80) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 7vh;
}
.cardsCont ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}
.cardsCont li {
  margin: 50px;

  /* margin-right: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300))); */
  display: inline-block;
  width: 15%;
}

@media screen and (max-width: 600px) {
  /* body {
    background-image: url('../../assets/mobileBackground.png');
    background-size: cover;
    background-attachment: fixed;
  } */

  .cardsCont h1 {
    font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    text-align: center;
    color: rgb(103, 74, 170);
    margin-left: 0;
    margin-bottom: 7vh;
  }
  .cardsCont li {
    margin: 5vw;
    display: inline-block;
    width: 20%;
  }
}
